<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <meta name="description" content="Description">
    <meta name="author" content="Prismic">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="/bundles/main.css" rel="stylesheet">
    <script>
      window.prismic = {
        endpoint: '<%= prismicEndpoint %>'
      };
    </script>
    <script src="https://static.cdn.prismic.io/prismic.min.js"></script>
  </head>
  <body>

    <header class="header">
      <div class="l-wrapper">
        <div class="header-inner">
          <div class="header-name">
            <%= layoutContent.header_name %>
          </div>
          <nav class="header-nav-items">
            <% layoutContent.header_nav_items.forEach(function (item) { %>
              <a class="header-nav-item" href="<%= linkAsUrl(item.link) %>">
                <%= item.text %>
              </a>
            <% }); %>
          </nav>
        </div>
      </div>
    </header>

    <main>
