.header {
  padding-top: 100px;
  padding-bottom: 30px;

  @media (max-width: 1000px) {
    padding-top: 15px;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name {
  flex-shrink: 0;
  font-size: 28px;
  font-weight: 700;
}

.header-nav-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.header-nav-item {
  &:not(:last-child) {
    margin-right: 40px;
  }

  color: #7f7d7c;
}
