<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href="/stylesheets/resetr.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</body>
</html>
