<%- include('partials/header'); %>

<div class="l-wrapper">
  <hr class="separator-hr"/>
</div>

<div class="page-404-wrapper">
  <img class="page-404-image" src="/img/coffee-bag.png" alt="Coffee bag"/>
  <div class="page-404-content">
    <p class="page-404-title">404</p>
    <p class="page-404-subtitle">Something is wrong</p>
    <p class="page-404-paragraph">The page you are looking for was moved, removed, renamed or might never existed</p>
  </div>
</div>

<%- include('partials/footer'); %>
