<section>
  <div class="l-wrapper">
    <header class="featured-items-header">
      <div class="featured-items-header-title">
        <%- richTextAsHtml(slice.primary.section_title) %>
      </div>
      <a class="featured-items-header-button" href="<%= linkAsUrl(slice.primary.button_link) %>">
        <%= richTextAsPlain(slice.primary.button_label) %>
      </a>
    </header>
  </div>
</section>
