<section>
  <div class="l-wrapper">
    <div class="text-block-inner">
      <div class="text-block-title">
        <%- richTextAsHtml(slice.primary.title1) %>
      </div>
      <div class="text-block-richtext">
        <%- richTextAsHtml(slice.primary.paragraph) %>
      </div>
    </div>
  </div>
</section>
